{% set fullscreen = fullscreen is defined ? fullscreen : false %}

{% if app.request.isXmlHttpRequest %}
    <div id="lx-ajax-container" class="container-fluid {% block container_class %}{% endblock %}">
{% endif %}

    {% if block('title') %}
        <div class="page-header">
            <h2>{% block title %}{% endblock %}</h2>
        </div>
    {% endif %}

    {% if fullscreen is sameas(false) %}
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    {% endif %}

    <div class="content{% if fullscreen is sameas(true) %} fullscreen{% endif %}">
        {% block content %}{% endblock %}
    </div>

{% if app.request.isXmlHttpRequest %}
    </div>
{% endif %}
