{% block sidebar %}
    {{ block('actions') }}
    {{ block('filter') }}
{% endblock %}

{% block content %}
    {{ block('datagrid') }}
    {{ block('form') }}
    {{ block('show') }}
{% endblock %}
