{% set fullscreen = fullscreen is defined ? fullscreen : false %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block meta_title %}Administration{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width">
    {% block additional_metas %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        <!-- Google WebFonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" type="text/css">

        {% stylesheets output='css/lexikui.css'
            'bundles/lexikui/libs/jquery-ui/jquery-ui-1.9.2.custom.css'
            'bundles/lexikui/less/main.less' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <script src="{{ asset('bundles/lexikui/libs/modernizr-1.7.min.js') }}"></script>
    {% block javascript_header %}{% endblock %}
</head>

<body{% block body_attr %}{% endblock %}>

    {% block ajax_loader %}
        <div id="ajax-loader">
            {{ 'ajax_request' | trans({}, 'LexikUiBundle') }}
        </div>
    {% endblock %}

    <div id="container">
        {% block header %}
            <header class="navbar-fixed-top" data-spy="scroll">
                <div class="navbar main-navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            {% block header_title %}
                                <h2 class="brand">Administration</h2>
                            {% endblock %}

                            {% block header_right %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block header_subnav %}
                    <div class="navbar sub-navbar clear">
                        <div class="navbar-inner">
                            <div class="container-fluid">
                                {% block header_subnav_inner %}{% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </header>
        {% endblock header %}

        <div class="container-fluid {% block container_class %}{% endblock %}">
            {% if block('title') %}
                {% block title_container %}
                    <div class="page-header">
                        <h1>{% block title %}{% endblock %}</h1>
                    </div>
                {% endblock title_container %}
            {% endif %}

            {% block breadcrumb %}{% endblock %}

            {% block content_header %}{% endblock %}

            {% if fullscreen is sameas(false) %}
                <div class="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            {% endif %}

            <div class="content{% if fullscreen is sameas(true) %} fullscreen{% endif %}">
                {% block flash_message %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>{{ flashMessage|trans }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}
            </div>

            {% block content_footer %}{% endblock %}
        </div>

        {% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <p class="pull-right">{% block footer_right %}&copy; Administration propulsée par <a href="http://www.symfony.com/">Symfony2</a> et <a href="http://www.lexik.fr/">Lexik</a>{% endblock %}</p>
                    <p>{% block footer_left %}{% endblock %}</p>
                </div>
            </footer>
        {% endblock %}
    </div>

    {% block javascript_footer %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src='{{ asset('bundles/lexikui/libs/jquery-1.7.2.min.js') }}'>\x3C/script>")</script>

        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

        {% javascripts output='js/lexikui.js'
            'bundles/lexikui/bootstrap/js/bootstrap-transition.js'
            'bundles/lexikui/bootstrap/js/bootstrap-alert.js'
            'bundles/lexikui/bootstrap/js/bootstrap-modal.js'
            'bundles/lexikui/bootstrap/js/bootstrap-dropdown.js'
            'bundles/lexikui/bootstrap/js/bootstrap-scrollspy.js'
            'bundles/lexikui/bootstrap/js/bootstrap-tab.js'
            'bundles/lexikui/bootstrap/js/bootstrap-tooltip.js'
            'bundles/lexikui/bootstrap/js/bootstrap-popover.js'
            'bundles/lexikui/bootstrap/js/bootstrap-button.js'
            'bundles/lexikui/bootstrap/js/bootstrap-collapse.js'
            'bundles/lexikui/bootstrap/js/bootstrap-typeahead.js'
            'bundles/lexikui/libs/jquery/jquery.form.js'
            'bundles/lexikui/libs/jquery/jquery.tipsy/jquery.tipsy.js'
            'bundles/lexikui/js/jquery.lxToggleContent.js'
            'bundles/lexikui/js/layout.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>
