{% extends 'LexikUiBundle::layout.html.twig' %}

{% use 'LexikUiBundle::crud_blocks.html.twig' %}

{% block stylesheets %}
    <!-- Google WebFonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" type="text/css">

    {% stylesheets output='css/lexikui_crud.css'
        'bundles/lexikcrud/css/crud.css'
        'bundles/lexikcrud/css/form-types.css'
        'bundles/lexikui/libs/jquery-ui/jquery-ui-1.9.2.custom.css'
        'bundles/lexikui/less/crud.less'
        'bundles/lexikui/less/main.less' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascript_footer %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ asset('bundles/lexikui/libs/jquery-1.7.2.min.js') }}'>\x3C/script>")</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    {% javascripts output='js/lexikui_crud.js'
        'bundles/lexikui/bootstrap/js/bootstrap-transition.js'
        'bundles/lexikui/bootstrap/js/bootstrap-alert.js'
        'bundles/lexikui/bootstrap/js/bootstrap-modal.js'
        'bundles/lexikui/bootstrap/js/bootstrap-dropdown.js'
        'bundles/lexikui/bootstrap/js/bootstrap-scrollspy.js'
        'bundles/lexikui/bootstrap/js/bootstrap-tab.js'
        'bundles/lexikui/bootstrap/js/bootstrap-tooltip.js'
        'bundles/lexikui/bootstrap/js/bootstrap-popover.js'
        'bundles/lexikui/bootstrap/js/bootstrap-button.js'
        'bundles/lexikui/bootstrap/js/bootstrap-collapse.js'
        'bundles/lexikui/bootstrap/js/bootstrap-typeahead.js'
        'bundles/lexikui/libs/mustache.js'
        'bundles/lexikui/libs/jquery/jquery.form.js'
        'bundles/lexikui/libs/jquery/jquery.tipsy/jquery.tipsy.js'
        'bundles/lexikui/js/jquery.lxToggleContent.js'
        'bundles/lexikui/js/layout.js'

        'bundles/lexikcrud/js/jquery.lxModalbox.js'
        'bundles/lexikcrud/js/jquery.lxModalboxChoiceWidget.js'
        'bundles/lexikcrud/js/jquery.lxAutocompleteWidget.js'
        'bundles/lexikcrud/js/jquery.lxDatepickerWidget.js'
        'bundles/lexikcrud/js/jquery.lxFormPrototype.js'
        'bundles/lexikcrud/js/crudController.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
