<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block meta_title %}Identification - Administration{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="robots" content="noindex,nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <!-- Google WebFonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" type="text/css">

    {% stylesheets output='css/lexikui/optimized-login.css'
        'bundles/lexikui/less/login.less' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('bundles/lexikui/libs/modernizr-1.7.min.js') }}"></script>

    {% block javascript_header %}{% endblock %}
</head>

<body>

    <div id="lx-login">
        <div class="hero-unit">
            <h1>{{ block('title') }}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block javascripts_footer %}{% endblock %}

</body>
</html>
