.lx-filters {
    input, textarea { width: 180px; }
    select { width: 190px; }

    .lx-widget-autocomplete-choice-search { width: 164px; }

    input.search-query { width: 160px; }
    input.datepicker { width: 140px; background-position: 128px center; }
}
