/* Twitter Bootstrap
-------------------------------------------------- */

// CSS Reset
@import "../bootstrap/less/reset.less";

// Core variables and mixins
@import "../bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/less/mixins.less";

// Grid system and page structure
@import "../bootstrap/less/scaffolding.less";
@import "../bootstrap/less/grid.less";

// Base CSS
@import "../bootstrap/less/type.less";
@import "../bootstrap/less/forms.less";

// Components: common
@import "../bootstrap/less/sprites.less";

// Components: Buttons & Alerts
@import "../bootstrap/less/buttons.less";
@import "../bootstrap/less/alerts.less";

// Components: Misc
@import "../bootstrap/less/hero-unit.less";

// Utility classes
@import "../bootstrap/less/utilities.less"; // Has to be last to override when necessary

// Typography
// -------------------------
@baseFontSize:   12px;
@baseFontFamily: 'Open Sans', Verdana, sans-serif;
@baseLineHeight: 16px;

// Links
// -------------------------
@linkColor: #0069D6;

// Sprite icons path
// -------------------------
@iconSpritePath:      "/bundles/lexikui/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "/bundles/lexikui/bootstrap/img/glyphicons-halflings-white.png";

/* Login layout
-------------------------------------------------- */
#lx-login {
    .center-block();
    margin-top: 75px;
    width: 500px;
    text-align: center;
}

#lx-login h1 {
    margin-bottom: 20px;
}

#lx-login label {
    font-size: 14px;
}

#lx-login input {
    padding: 7px 12px;
    font-size: 18px;
    height: auto;
}

#lx-login .checkbox.inline {
    padding-top: 0;
}

#lx-login #_submit {
    margin-top: @baseLineHeight / 2;
}

#lx-login button i {
    position: relative;
    top: 1px;
    margin-right: 3px;
}
