/* Twitter Bootstrap
-------------------------------------------------- */

// import bootstrap
@import "../bootstrap/less/bootstrap.less";

// import bootstrap responsive
@import "../bootstrap/less/responsive.less";

// Typography
// -------------------------
@baseFontSize:   12px;
@baseFontFamily: 'Open Sans', Verdana, sans-serif;
@baseLineHeight: 16px;

// Links
// -------------------------
@linkColor: #0069D6;

// Sprite icons path
// -------------------------
@iconSpritePath:      "/bundles/lexikui/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "/bundles/lexikui/bootstrap/img/glyphicons-halflings-white.png";

// Z-index master list
// -------------------------
@zindexDropdown:          900;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       930;
@zindexModalBackdrop:     940;
@zindexModal:             1050;

@import "styles.less";
