/* Twitter bootstrap overrides
-------------------------------------------------- */
body {
    padding-top: 90px;
}

body.error {
    padding-top: 60px;
}

h1 { font-size: 30px; line-height: @baseLineHeight; }
h2 { font-size: 24px; line-height: @baseLineHeight; }
h3 { font-size: 18px; line-height: @baseLineHeight; }
h4 { font-size: 14px; line-height: @baseLineHeight; }
h5 { font-size: 12px; line-height: @baseLineHeight; }
h6 { font-size: 11px; text-transform: uppercase; line-height: @baseLineHeight; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }

small { font-size: 85%; }

.error-list {
    font-size: 11px;
    position: relative;
    top: -3px;
    margin-left: 5px;
    
    a { 
        color: #fff;
        text-decoration: underline;
    }
}

caption {
    padding: 5px;
    background: @grayLighter;
    font-weight: bold;
    vertical-align: middle;
    border-top: 1px solid @tableBorder;
}

.page-header {
    margin: 0 0 @baseLineHeight;
}

.table.table-valign-middle th,
.table.table-valign-middle td {
    vertical-align: middle;
}

.control-group { position: relative; }
.page-header { padding-bottom: 10px; }
.table thead th { vertical-align: middle; }

.badge-icon { padding: 2px; }

/* form overrides */
input, textarea, select, .uneditable-input { margin-bottom: 0; }
input[type=file],
select { width: auto; }

fieldset {
    border: 1px solid @grayLighter;
    padding: 5px 15px;
    margin-bottom: @baseLineHeight / 2;
    .border-radius(4px);

    legend {
        padding: 0 10px;
        margin-left: 10px;
        margin-bottom: 0;

        width: auto;
        border-bottom: 0;
    }
}

form .clearfix {
    position: relative;
    margin-bottom: @baseLineHeight / 2;
}

legend + .control-group { margin-top: 0; }

.row-checkbox label { margin-bottom: 0; }

.lt-ie9 {
    .row-fluid [class*="span"] {
        min-height: @baseLineHeight;
    }
}

/* links on alert */
.alert a {
    color: @warningText;
}
.alert-success a {
    color: @successText;
}
.alert-danger a,
.alert-error a {
    color: @errorText;
}
.alert-info a {
    color: @infoText;
}

/* temp fix cause to color links on jQuery UI Dialog */
.ui-widget-content a.btn-primary,
.ui-widget-content a.btn-primary:hover,
.ui-widget-content a.btn-warning,
.ui-widget-content a.btn-warning:hover,
.ui-widget-content a.btn-danger,
.ui-widget-content a.btn-danger:hover,
.ui-widget-content a.btn-success,
.ui-widget-content a.btn-success:hover,
.ui-widget-content a.btn-info,
.ui-widget-content a.btn-info:hover,
.ui-widget-content a.btn-inverse,
.ui-widget-content a.btn-inverse:hover {
    color: @white;
}

/* Usefull classes
-------------------------------------------------- */
.clear { clear: both; }

.lx-tleft { text-align:left; }
.lx-tcenter, table td.lx-tcenter { text-align:center; }
.lx-tright { text-align:right; }
.lx-tjustify { text-align:justify; }

.lx-block { display: block !important; }
.lx-inline { display: inline !important; }
.lx-in-block { display: inline-block !important; }

.lx-size-s { font-size: .8em; }
.lx-size-m { font-size: 1em; }
.lx-size-b { font-size: 1.2em; }
.lx-size-g { font-size: 1.5em; }

.lx-inner-l { padding: 5px; }
.lx-inner-m { padding: 10px; }
.lx-inner-b { padding: 20px; }
.lx-inner { padding: 20px; }

.required { font-size: 1.1em; font-weight: bold; color: #ff0000; }

.ui-inline-icon { display: inline-block; position: relative; top: 3px; }

.lx-field-filled { border-color: rgba(82, 168, 236, 0.8); }

.divider {
    padding: 0 5px;
    color: @grayLight;
}

/* subtable */
td.inner-table {
    padding: 0;
    /*border-top: 0;*/

    table { margin-bottom: 0; }

    .table-bordered th:first-child,
    .table-bordered td:first-child { border-left: 0; }
}

/* simple bordered list */
.list {
    list-style: square;
    list-style-position: inside;
    margin: 8px 0;

    li {
        padding: 5px 0 5px 10px;
        border-bottom: 1px solid #eee;
    }
}

/* Tables fluid
-------------------------------------------------- */

.tableFluidColumns(@columns: 1) {
    float: none;
    width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
    *width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
    margin-left: 0;
}

.row-fluid .table  td,
.row-fluid .table  th,
.table.table-fluid td,
.table.table-fluid th {
    &.span1     { .tableFluidColumns(1); }
    &.span2     { .tableFluidColumns(2); }
    &.span3     { .tableFluidColumns(3); }
    &.span4     { .tableFluidColumns(4); }
    &.span5     { .tableFluidColumns(5); }
    &.span6     { .tableFluidColumns(6); }
    &.span7     { .tableFluidColumns(7); }
    &.span8     { .tableFluidColumns(8); }
    &.span9     { .tableFluidColumns(9); }
    &.span10    { .tableFluidColumns(10); }
    &.span11    { .tableFluidColumns(11); }
    &.span12    { .tableFluidColumns(12); }
}

/* Container layout
-------------------------------------------------- */
#container { margin-bottom: 40px; }

.container-fluid {
    position: relative;
    margin: 0 auto;
    width: 98%;
    min-width: 960px;
    max-width: 1250px;
    padding: 0;
}

.container-fluid > .sidebar {
    position: absolute;
    top: auto;
    left: 0;
    width: 220px;
}
.container-fluid > .content {
    margin-left: 240px;
}

.content.fullscreen { margin: 0; }

.container-sidebar-right > .sidebar { left: auto; right: 0; }
.container-sidebar-right > .content { margin-left: 0; margin-right: 240px; }

/* Tweak headers navbars
-------------------------------------------------- */
header {
    .navbar {
        margin-bottom: 0;
    }
    
    /* force main navbar to 4px */
    .main-navbar .navbar-inner {
        min-height: auto;
        height: 40px;
    }
    
    /* resize sub navbar to 35px */
    .sub-navbar {
        .navbar-inner {
            height: 35px;
            min-height: auto;
        }
        
        .nav > li > a {
            padding: 8px 10px 8px;
        }
        .nav .dropdown-toggle .caret {
            margin-top: 6px;
        }
    }
}

.navbar {
    h2.brand { line-height: inherit; margin: 0; }
    
    .brand {
        a {
            margin-right: 10px;
            font-weight: bold;
            color: #eee;
            text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
            .transition(all .2s linear);
        }
        a:hover {
            text-decoration: none;
        }
        
        small a {
            font-size: 11px;
            font-weight: normal;
            position: relative;
            top: -2px;
        }
    }
}

/* Ajax loader
-------------------------------------------------- */
#ajax-loader {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 50%;
    margin-left: -110px;
    background: #F9EDBE url(/bundles/lexikui/img/loader.gif) 10px 5px no-repeat;
    padding: 5px 10px 5px 50px;
    width: 160px;
    height: 31px;
    line-height: 31px;
    font-weight: bold;
}

/* Ajax container layout
-------------------------------------------------- */
#lx-ajax-container.container-fluid {
    min-width: 0;
    width: 100%;
}
#lx-ajax-container .page-header {
    display: none;
}
