{% extends "form_div_layout.html.twig" %}

{# Widgets #}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' unstyled'}) %}
    <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
        <li>
            <label class="checkbox inline">
                {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
                <span>{{ child.vars.label | trans({}, translation_domain) }}</span>
            </label>
        </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set translated_label = form_get_translated_label(form, label, label_attr) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ translated_label }}
        {% if required %}
            <span class="required">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    {% set errorClass = form.vars.errors|length > 0 ? 'error' : '' %}
    {% set defaultClasses = 'control-group ' ~ errorClass ~' row-' ~ form.vars.id | lower ~ ' row-' ~ form.vars.block_prefixes|default([])[2] %}
    {% set row_attr = row_attr|default({})|merge({ 'class': defaultClasses ~ ' ' ~ row_attr.class|default('') }) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}

    <div{% for attrname,attrvalue in row_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ form_label(form, label|default(null), { 'label_attr': label_attr }) }}
        <div class="controls">
            {{ form_widget(form, { 'attr': attr }) }}
            {{ form_errors(form) }}
            {% if help is defined %}
                <span class="help-block">{{ help | raw }}</span>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{# Misc #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="help-inline">
            <div class="error-list label label-important">
                <i class="icon-warning-sign icon-white"></i>
                {% for error in errors %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br />
                {% endfor %}
            </div>
        </span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block filter_date_range_widget %}
{% spaceless %}
    <div class="input-prepend lx-date-range lx-date-range-from">
        <label for="{{ form.left_date.vars.id }}" class="add-on">&gt;=</label>
        {{ form_widget(form.left_date, { 'attr': { 'class': 'datepicker input-small' } }) }}
        {{ form_errors(form.left_date) }}
    </div>

    <div class="input-prepend lx-date-range lx-date-range-to">
        <label for="{{ form.right_date.vars.id }}" class="add-on">&lt;=</label>
        {{ form_widget(form.right_date, { 'attr': { 'class': 'datepicker input-small' } }) }}
        {{ form_errors(form.right_date) }}
    </div>
{% endspaceless %}
{% endblock filter_date_range_widget %}

